
body{
background-color: #ffffff;
margin: 0;
font-family: 'Open Sans', sans-serif;
}
section{
    width: 75%;
    margin-left:auto;/*centrer le contenu*/
    margin-right:auto;
}
#masthead>h1{
    margin: 0;
}
#masthead{
    height: 100vh;
    background-image: url("img-1.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
}
#block1{
    display:inline-block;
    color: #ffffff;
    margin-top: 2.5%;
}
#block1>p{
width: 439px;
height: 74px;
font-size: 13px;
line-height: 24px;
font-weight: 400;
}
#block1>h1{
width: 783px;
font-size: 60px;
font-weight: 300;
margin: 0;
}

#white h1 {
    margin-top: 10%;
}

#white h1+p{
    display: inline-block;
    color: #959595;
    width: 45%;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

}
#white h1+p+p{
    display: inline-block;
    color: #959595;
    margin-left: 10%;
    width: 40%;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    
}
#flexbox{
    margin-top: 7.3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}
#flexbox h3{
    margin:0;
    font-size: 20px;
    font-weight: 300;
}
#flexbox p{
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;}
#flexbox a{
    font-size: 10px;
    line-height: 24px;
    font-weight: 700;
    position: absolute;
    bottom: 10%;
}

#pink,#purple,#img3,#green{
    width: 33.3%;
    
}
#pink,#purple,#img3,#green,#img4{
    margin-right: 0;
    box-sizing: border-box;
    padding: 5%;
    position: relative;
}
#pink{
    background-color:#f5989d ;
}
#purple{
    background-color: #615f7d;
}
#img3{
    background-image: url(img-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#img4{
    width: 66.66%;
    background-image: url(img-4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#green{
    background-color:#82ca9c ;
}
#col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:#959595;
}
#col h4{
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: 300;
    align-items: center;
}
.col p{
    font-size: 14px;
}
.element{
    width: 23%;
    margin-right: 2%;
}
#titre{
    margin-top:5%;
}
#img2{
    height: 100vh;
    background-image: url("img-2.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
}
#block2{
    display:inline-block;
    color: #ffffff;
    margin-top: 10%;
    width: 50%;
}
#block2>h1{
    font-size: 40px;
    color: #ffffff;
    font-weight: 300;
}
#block2>p{
    font-size: 13px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
}
#block2>a{
    font-size: 10px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
}
#light_green{
    width: 100%;
    height:  60vh;
    background-color: #82ca9c;
}
#dark_blue{
    width: 100%;
    height: 60vh;
    background-color: #192431;
}
#flexbox1{
    display: flex;
    flex-direction: row;
    color: white;
}
#titre2{
    margin-top: 0;
    padding-top: 30px;
    color: white;
}
.part{
    width: 33%;
    margin-right: 2%;   
}
#get_in_touch{
    margin-right: 25%;
    color: white;
}
#get_in_touch h4{
    margin-top: 0;
    padding-top: 3%;
}
#flexbox2{
    display: flex;
    flex-direction: row;
    color: white;
}
.box{
    margin-right: 5%;
}

